* {
  background-color: rgb(104, 152, 168);
}

body {
  align-items: center;


}

a {
  color: #043042;
  font-size: 20px;
  font-weight: 3000;
}
h1, h2 {
  font-family: 'Sintony', sans-serif;
}

table {
  font-size: 15px;
  }
table tbody th {
  padding: 6px;
  border-bottom: 2px solid blue;
}

label {
  float: top
}
.note-form {
  display: inline-block;
  margin-right: 10px;
}
.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: red      
}

.login img{
  height: 35px
}