body {
  padding: 50px;
  margin: 0 auto;

}

a {
  color: #00B7FF;
  font-size: 20px;
}
h1 {
  font-family: 'Sintony', sans-serif;
}

table {
  font-size: 15px;
  }
table tbody th {
  padding: 6px;
  border-bottom: 2px solid blue;
}

label {
  float: top
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: red      
}

.login img{
  height: 35px
}