<!DOCTYPE html>
<html>
  <head>
    <title><%= mind-project %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Mindfulness App %></h1>
    <p>Welcome to <%= a better way to live %></p>
    <a href="/habits">Artists</a>
  </body>
</html>
