<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sintony&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Time to live a <%= 'happier life' %></p>
    <a href="/habits">Habits</a>
  </body>
</html>
