<%- include('../partials/header')%>
<h1>Views Habits New Page</h1>

<br>

<form id="habits-form" action="/habits" method="POST">
  <label>Did you eat?
    <select name="didYouEat">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
    </select>
  </label>
  <br><br>
  <label>Did you sleep?
    <select name="didYouSleep">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
    </select>
  </label>
  <br><br>
  <label>Did you go outside?
    <select name="didYouGoOutside">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
    </select>
  </label>
  <br><br>
  <label>Did you take your medication?
    <select name="didYouTakeYourMedication">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
    </select>
  </label>
  <br><br>
  <input type="submit" value="Track Daily Goals">

</form>

  <%- include('../partials/footer') %>
