<%- include('../partials/header')%>
<h1>Views Habits New Page</h1>

<br>

<form id="habits-form" action="/habits" method="POST">
  <label>Habits
    <input type="text" name="didYouEat"
  </label>
<%- include('../partials/footer') %>
